.heater {
  padding: 10px;
  position: relative; }
  .heater .left_nav {
    position: absolute;
    left: 0;
    margin-left: 20px;
    top: 20px; }
    .heater .left_nav img {
      width: 70%; }
  .heater .right_img {
    position: absolute;
    right: 0;
    top: 20px;
    margin-right: 20px;
    text-align: right; }
    .heater .right_img img {
      width: 70%; }
  .heater .logo {
    text-align: center; }
    .heater .logo img {
      width: 18%; }

.top_banner img {
  width: 100%; }

article ul {
  padding: 0;
  margin: 0; }

article li {
  width: 39.8%;
  float: left;
  height: 101px;
  padding: 25px 20px 0px 20px; }
  article li img {
    float: left;
    width: 20%; }
  article li spen {
    float: right;
    width: 60%; }
    article li spen h3 {
      margin: 0;
      color: #23d3c4; }
    article li spen p {
      margin-top: 5px;
      color: #333; }
  article li.left_top {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  article li.left_con {
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
  article li.right_top, article li.right_con {
    border-bottom: 1px solid #ddd; }
  article li.left_bot {
    border-right: 1px solid #ddd; }
    article li.left_bot img {
      width: 32%; }

.bot_banner {
  clear: both; }
  .bot_banner img {
    width: 100%; }
